div.box {
    height: 300px;
    width: 300px;
    background-color: #bbbbaa;}
    p {
        min-height:10 px;
        max-height: 50px;
        font-size: 20px;
        overflow: scroll;
    background-color: #d9dd00;}